<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--控制器注解扫描 -->
	<context:component-scan base-package="com.system.controller,com.parkbobo.weixin.controller,com.parkbobo.controller" />

	<!-- 开启MVC注解支持 -->
	<!--<mvc:annotation-driven />-->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
						<value>*/*;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 静态资源访问 -->
	<mvc:default-servlet-handler />
	
	<!-- 设置图片上传大小控制 -->
	<bean id="multipartResolver"  
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <!--1024*1024*5即5M-->  
        <property name="maxUploadSize" value="100000000"/>
        <!--resolveLazily属性启用是为了推迟文件解析，以便在UploadAction 中捕获文件大小异常-->  
        <property name="resolveLazily" value="true"/>
		<property name="defaultEncoding" value="utf-8"/>
    </bean> 
	

	<!-- 视图分解器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

 	<!-- 7.拦截器 --> 
<!--	<mvc:interceptors>-->
<!--		<mvc:interceptor>-->
<!-- 			设置拦截器，拦截的（地址）规则  -->
<!--			<mvc:mapping path="/*" />-->
<!-- 			拦截器的全类名  -->
<!--			<bean class="cn.itsource.crm.web.interceptor.AuthInterceptor" />-->
<!--		</mvc:interceptor>-->
<!--	</mvc:interceptors>-->
</beans>
