<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/mvc 
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:annotation-config />
	<context:component-scan base-package="com" />
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
	
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>

	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		 <property name="packagesToScan">
			<list>
				<value>com.parkbobo.model</value>
				<value>com.system.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernatespatial.postgis.PostgisDialect
				</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.cache.provider_class">net.sf.hibernate.cache.EhCacheProvider</prop>
				<prop key="c3p0.min_size">7</prop>
				<prop key="c3p0.max_size">42</prop>
				<prop key="c3p0.timeout">1800</prop>
				<prop key="c3p0.max_statements">50</prop>
				<prop key="c3p0.idle_test_period">60</prop>
				<prop key="c3p0.acquire_increment">1</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
			</props>
		</property>
	</bean>


	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- JDBC配置 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<aop:config>
		<aop:pointcut id="bussinessService"
			expression="(execution(* com.parkbobo.service.*.*(..))) 
			or (execution(* com.system.service.*.*(..)))
			or (execution(* com.parkbobo.quartz.task.*.*(..)))" />
		<aop:advisor pointcut-ref="bussinessService"
			advice-ref="txAdvice" />
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" read-only="false"/>
			<tx:method name="save*" propagation="REQUIRED" read-only="false"/>
			<tx:method name="update*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="merge*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="delete*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="bulkDelete*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="viewNotify" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="localUpdateOneField*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="register*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="close*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="startJob" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="confirm*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="renewal*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="sumbit*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="groundlock*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="bluetoothControlGroundlock" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="upload*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="remove*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="bind*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="recharge*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="charge*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="xfcharge*" propagation="REQUIRED" read-only="false"/>
		     <tx:method name="xfupdatePayStatus*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="winxin_register*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="takeEffectOrder*" propagation="REQUIRED" read-only="false"/>
		    <tx:method name="weixinRecharge*" propagation="REQUIRED" read-only="false"/>
		     <tx:method name="ebOrderPayAmount*" propagation="REQUIRED" read-only="false"/>
			<tx:method name="*" read-only="false"/>
		</tx:attributes>
	</tx:advice>
	

</beans>